<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Arrival'), ['action' => 'edit', $arrival->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Arrival'), ['action' => 'delete', $arrival->id], ['confirm' => __('Are you sure you want to delete # {0}?', $arrival->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Arrivals'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Arrival'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="arrivals view large-9 medium-8 columns content">
    <h3><?= h($arrival->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= h($arrival->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Identificator') ?></th>
            <td><?= h($arrival->identificator) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($arrival->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($arrival->modified) ?></td>
        </tr>
    </table>
</div>
